.wishlist_container {
  //   border: 2px solid grey;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3.5rem;
  padding-top: 3rem;
  background-color: #fae3d9;
}

.wishlist_image {
  height: 25rem;
  width: 16rem;
  padding: 0 1.5rem;
  overflow: hidden;
}
.wishlist_details {
  border: 2px solid grey;
  padding: 0 1.5rem;
  background-color: white;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
