@mixin details-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.details-container-popular {
  @include details-container;
}

.details-container-toprated {
  @include details-container;
}

.details-container-upcoming {
  @include details-container;
}

@mixin movie-detail-name($color) {
  font-size: 2rem;
  color: $color;
  font-weight: 600;
}

.movie-detail-name-upcoming {
  @include movie-detail-name(#6117f1);
  font-family: "Arvo", serif;
}

.movie-detail-name-toprated {
  @include movie-detail-name(#438c7c);
  font-family: "Itim", cursive;
}

.movie-detail-name-popular {
  @include movie-detail-name(#8d141d);
  font-family: "Itim", cursive;
}

.movie-image-container {
  width: 50%;
  margin: 2rem;
  max-height: 40rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.movie-detail-container {
  width: 50%;
  margin: 2rem;
  display: flex;
  align-items: center;
}

.movie-detail-sub-container {
  margin: 0 10rem;
}

.wishlist-button {
  font-size: 1rem;
  border-radius: 0;
  cursor: pointer;
  border: 0px;
  padding: 0.7rem 2.8rem;
}
.wishlist-button-container {
  padding: 1rem 0;
}

.details-text-header {
  padding: 1rem 0;
}

.details-text {
  border-top: 1px solid #5a5a5a;
  padding: 1rem 0;
}
