.header_container {
  display: flex;
  //   flex-direction: row;
  //   justify-content: "space-between";
  //   align-items: "center";
  //   height: "100px";
  //   background-color: "lightgray";
  //   border: 2px solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header_titles {
  display: flex;
}

.right_header_titles {
  margin: 1.5rem 1rem;
}

.app_title {
  color: black;
  margin: 1rem 65rem 1rem 2rem;
  font-size: 2rem;
}
