.header-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-menu {
  width: 80%;
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: flex-end;
  align-items: center;
  .header-link {
    margin: 0 1rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.header-title {
  width: 20%;
  color: black;
  padding: 1.5rem 2rem;
  font-size: 2rem;
}
