@mixin carousel-button {
  position: absolute;
  top: 45%;
  z-index: 999;
  background-color: #fff;
  border: solid 1px #c0c0c0;
  padding: 4px 10px;
  border-radius: 3px;
  opacity: 0.8;
  font-size: 1.5rem;
}

.carousel-button-prev {
  @include carousel-button;
  left: 12;
}
.carousel-button-next {
  @include carousel-button;
  right: 5;
}

.inner-container-style {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home-carousel-image {
  width: 16rem;
  max-height: 22rem;
  margin: 0.5rem;
}
