$detail-base-color1: #8d141d;
$upcoming-section-color: #ffb6b9;
$toprated-section-color: #438c7c;

@mixin details-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.details-container-popular {
  @include details-container;
}

.details-container-toprated {
  @include details-container;
}

.details-container-upcoming {
  @include details-container;
}

.movie-image-container {
  width: 50%;
  margin: 2rem;
  max-height: 40rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.movie-detail-container {
  width: 50%;
  margin: 2rem;
  display: flex;
  align-items: center;
}

.movie-detail-sub-container {
  margin: 0 8rem;
}

@mixin movie-detail-name($color) {
  font-size: 2rem;
  color: $color;
  font-weight: 500;
}

.movie-detail-name-upcoming {
  @include movie-detail-name($upcoming-section-color);
  font-family: "Abril Fatface", cursive;
}

.movie-detail-name-popular {
  @include movie-detail-name($detail-base-color1);
  font-family: "Aboreto", cursive;
}

.movie-detail-name-toprated {
  @include movie-detail-name($toprated-section-color);
  font-family: "Itim", cursive;
}

.wishlist-button-container {
  padding: 1rem 0;
}

@mixin wishlist-button($bgcolor, $radius) {
  font-size: 1rem;
  cursor: pointer;
  border: 0px;
  padding: 0.7rem 2.8rem;
  background-color: $bgcolor;
  color: #ffffff;
  border-radius: $radius;
}

.wishlist-button-upcoming {
  @include wishlist-button($upcoming-section-color, 1.125rem);
}

.wishlist-button-popular {
  @include wishlist-button(#b2d9ea, 0.5rem);
}

.wishlist-button-toprated {
  @include wishlist-button($toprated-section-color, 0rem);
}

.coming-soon-text {
  color: $detail-base-color1;
  font-weight: 900;
}

.error {
  padding: 1rem 0 0 2rem;
  color: #cc4242;
  font-size: 1.5rem;
}

.details-text-header {
  padding: 1rem 0;
}

.details-text {
  border-top: 1px solid #5a5a5a;
  padding: 1rem 0;
}
