@mixin carousel_container($bgColor) {
  background-color: $bgColor;
  margin: 2rem;
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.upcoming-carousel-container {
  @include carousel_container(#ffb6b9);
}

.popular-carousel-container {
  @include carousel_container(#fae3d9);
}

.toprated-carousel-container {
  @include carousel_container(#bbded6);
}

.movie-category-header {
  padding: 0 0.4rem 1rem;
  color: #5c5c5c;
  font-size: 1.8rem;
}
